#scene-bet
    .game-screen
        padding: 1rem
        text-align: center

        #bet-container
            width: 100%
            display: flex
            align-items: stretch
            margin-top: 2rem

            .bet-player
                font-size: 8rem
                width: 50%
                vertical-align: middle

                for color, value in colorMap
                    &[data-color={color}]
                        color: value

            #bet-p1
                padding-left: 10%
                text-align: left

            #bet-p2
                padding-right: 10%
                text-align: right

    .controller-container
        .controller
            // dyinamically change the color of the buttons according to the character
            for color, value in colorMap
                &[data-color={color}]
                    button
                        border-color: value

                    .btn-icon
                        stroke: value

                    button:active
                        background-color: value
                        color: value

                        .btn-icon
                            stroke: value
                