#scene-bet
    .game-screen
        padding: 1rem
        text-align: center

        #bet-container
            width: 100%
            display: flex
            align-items: stretch
            margin-top: 2rem

            .bet-player
                font-size: 5rem
                
                width: 50%
                vertical-align: middle

            .bet-player + .bet-player
                border-left: 1px solid

            #bet-p1
                
                padding-left: 3rem
                text-align: left

            #bet-p2
                padding-right: 3rem
                text-align: right
                