#scene-character-select
    .game-screen
        padding: 1rem

        header
            margin-bottom: 1rem

        section
            display: flex
            justify-content: space-between

        #selection-thumb-container
            .character-thumbnail
                thumbnail-height = 2rem
                text-align: center
                margin: 0.2rem
                height: thumbnail-height
                position: relative
                font-size: 0.8rem
                line-height: 0.8rem
                padding: 0 thumbnail-height 0 thumbnail-height
                border: 1px solid black
                border-radius: (thumbnail-height / 2)
                
            .p1-selection::before
                content: ""
                height: 80%
                aspect-ratio: 1
                left: 0.2rem
                top: 10%
                position: absolute
                background-color: black
                border-radius: 50%
            
            .p2-selection::after
                content: ""
                height: 80%
                top: 10%
                aspect-ratio: 1
                right: 0.2rem
                position: absolute
                background-color: black
                border-radius: 50%

        #selection-p1, #selection-p2
            width 30%

        #display-selection-p1, #display-selection-p2
            list-style: none;
            margin: 0;
            padding: 0;

       #selection-thumb-container
            width 20%

        #list-thumbs
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex
            flex-wrap: wrap
            align-items: center
            align-content: center
