#scene-game-play
    header
        height: 3rem
        #game-timer-bar-container
            padding: 0.5rem
            width: 100%
            #game-time-bar
                background-color: black
                transition: width 0.1s linear;
                color: white
                margin-right: auto
                margin-left: auto
                border-radius: 1rem
                min-width: 3rem
    #game-play-contianer
        display: flex
        justify-content: space-between

        #card-withdraw-container
            display: flex
            flex-wrap: wrap
            justify-content: center
            text-align: center

            #card-message
                width: 100%
                font-size: 2rem

            #card-reveal
                width: 5rem
                display: flex
                justify-content: center
                align-items: center
                width: 10rem
                margin-top: 2rem

                #card-points
                    font-size: 5rem


        .score-board
            width: 40%
            display: flex
            justify-content: space-between
            padding: 3rem 2rem 0 2rem

            .character-card
                display: inline-block


            .points
                font-size: 8rem

                for color, value in colorMap
                    &[data-color={color}]
                        color: value


    .controller
        &.not-current-turn
            opacity: 0.3
            background-color: #888

            .card-decks-container
                button:active
                    background-color: transparent !important

        /*
        .card-decks-container

            for color, value in colorMap
                &[data-color={color}]
                    button
                        background-color: rgba(
                            red(value),
                            green(value),
                            blue(value),
                            0.5
                        )

            for color, value in colorMap
                &[data-color={color}]
                    button:active
                        background-color: rgba(
                        red(value),
                        green(value),
                        blue(value),
                        0.8
                    )
        */