#scene-welcome
    .controller
        display: flex
        justify-content: center
        align-items: center
    .game-screen
        text-align: center

        section
            margin-top: 2rem