#scene-welcome
    .controller
        display: flex
        justify-content: center
        align-items: center
    .game-screen
        padding: 2rem
        text-align: center
        h1
            line-height: 2rem
        p
            margin-top: 3rem