.controller-container
    display: flex
    justify-content: space-between
    margin-top: 3rem

.controller
    width: 27.5%
    //height: controller-height
    aspect-ratio: 16 / 9
    overflow: auto
    background-color: color-white
    border: 1px solid black
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-content: space-around
    padding: 2%
    gap: 10%