.controller-container
    display: flex
    justify-content: space-between
    margin-top: 3rem

.controller
    width: 27.5%
    //height: controller-height
    aspect-ratio: 16 / 9
    overflow: auto
    border: 1px solid black
    display: flex
    justify-content: space-between
    align-content: center
    align-items: center
    gap: 2rem
    padding: 2rem