.game-screen
    //width: game-screen-width
    //height: game-screen-height
    aspect-ratio: 3840 / 1080
    background-color: $background
    border: 1px solid $primary
    overflow: auto

    header
        width: 100%
        text-align: center

        .h1
            font-size: 3rem
            margin-top: 2rem
        .h2
            font-size: 2rem
            font-weight: 600

    section
        width 100%