.game-screen
    //width: game-screen-width
    //height: game-screen-height
    aspect-ratio: 3840 / 1080
    background-color: color-white
    border: 1px solid color-black
    overflow: auto

    header
        width: 100%
        text-align: center

        .h1
            font-size: 3rem
            margin-top: 2rem
        .h2
            font-size: 1rem
            font-weight: 600

    section
        width 100%