.scene
    display: none
    //width: calc(controller-width * 2 + game-screen-width)
    width: 100%
    margin-right: auto
    margin-left: auto
    // height: 1080px

    &.is-active
        display: block