button
    padding: 0.5rem
    border: solid, 0.1rem, black
    text-align: center
    border-radius: 0.75rem
    @extends .bold

.btn-select
    width: 100%
    box-sizing: border-box
    aspect-ratio: 4 / 1

.btn-AB
    width: 45%
    box-sizing: border-box