button
    border: border-size solid $primary
    text-align: center
    box-sizing: border-box
    aspect-ratio: 1 / 1
    border-radius: 50%
    width: 33%
    padding: 1rem

.button.disabled
    background-color: $disabled
    color: $background
    border-color: $disabled-dark

.btn-icon
    fill: none
    stroke: $primary
    stroke-width: 1.2rem
    aspect-ratio: 1 / 1

.btn-arrow-up
    transform: rotate(180deg)

button:active
    background-color: $primary
    color: $background
    .btn-icon
        stroke: $background

button.disabled
    border-color: $disabled-bg
    background-color: $disabled-bg
    color: $disabled-content
    .btn-icon
        stroke: $disabled-content