.card-decks-container
    display: flex
    width: 100%
    justify-content: space-between

.card
    aspect-ratio: 1 / 2
    border-radius: 0.6rem
    border: 0.1rem solid black

.card-deck
    width: 20%
    background-repeat: no-repeat
    background-position: center center
    background-size: 70%
    filter: hue-rotate(90deg) saturate(2)


.card-deck-1
    background-image: url('../../assets/cards/card-icon-1.svg')

.card-deck-2
    background-image: url('../../assets/cards/card-icon-2.svg')

.card-deck-3
    background-image: url('../../assets/cards/card-icon-3.svg')   
