.character-name
    border: border-size solid $primary
    border-radius: 2rem
    padding: 0.2rem 1rem
    //margin-bottom: 1rem
    font-size: 1.17rem

.character-card
    display: none

    for color, value in colorMap
        &[data-color={color}]
            color: value
            h3
                border-color: value
            .skill-bar
                background-color: value

    &.active
        display: flex
        flex-wrap: wrap

    .character-bar
        width: 100%
        height: 10px
        background-color: yellow

        & + .character-bar
            margin-top: 0.3rem

    .character-skill-list
        list-style: none
        margin: 0
        padding: 0
        width: 100%
        margin-top: 1rem

        .skill-bar
            bar-height = 1.2rem
            height: bar-height
            border-radius: 0.6rem
            min-width: bar-height

    .skill-name
        font-size: 0.8rem


        /*

        .skill-bar-container
            bar-height = 1.2rem
            background-color: #ccc
            border: 1px solid black
            padding: 0.1rem
            padding-left: 0.15rem
            border-radius: (bar-height / 2)
            height: bar-height

            .skill-bar
                font-size: (bar-height * 0.55)
                height: (bar-height - 0.3rem)
                background-color: white
                border-radius: ((bar-height - 0.1rem ) / 2)
                padding-left: 0.2rem
                text-align: left
        */

.character-card-right
    .character-card
        justify-content: right

        .skill-entry
            display: flex
            flex-wrap: wrap
            justify-content: right
            text-align: right

            .skill-name
                width: 100%