$background = #fff
$primary = #050505
$disabled-bg = rgb(213, 209, 217)
$disabled-content = rgb(144, 140, 146)

// characters colors
$red = #ff0000
$blue = #0033cc
$violet = #663399
$yellow = #f7931e
$green = #39b54a
$pink = #ff0099

// color map
colorMap = {
    red: $red,
    blue: $blue,
    violet: $violet,
    yellow: $yellow,
    green: $green,
    pink: $pink
}