@font-face {
  font-family: 'CircularPro-Bold';
  src: url('../../assets/fonts/CircularPro-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

html
    font-size: 14px     // rem value
    font-family: "CircularPro-Bold", sans-serif
